.cardContainer {
  display: flex;
  height: 37.97vw;
  width: auto;
  perspective: 1000px;
}

.card {
  display: flex;
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card.flipped {
  transform: rotateY(180deg);
}

.front {
  backface-visibility: hidden;
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.tariffPlan {
  display: flex;
  flex-direction: column;
  padding: 2.08vw;
  border-radius: 1.67vw;
  background-color: rgba(34, 34, 34, 0.6);
  border: 0.05vw solid #fff;
  backdrop-filter: blur(6px);

  .title {
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.08vw;
    padding: 0.42vw 0.83vw;
    border-radius: 0.63vw;
    background-color: #ffffff;

    font-family: 'Inter';
    font-size: 0.73vw;
    font-style: normal;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: 1.82px;
    text-transform: uppercase;
  }

  .line {
    position: absolute;
    top: 2.97vw;
    left: 3.33vw;
    z-index: -10;
    width: 15.94vw;
    height: 0.05vw;

    background: linear-gradient(
      90deg,
      #3c3c3c 0%,
      #f9f9f9 13.02%,
      #3c3c3c 25.49%,
      #3c3c3c 50.08%,
      #3c3c3c 75.37%,
      #f9f9f9 86.64%,
      #3c3c3c 100%
    );
  }

  .slogan {
    width: 18vw;
    margin-bottom: 0.83vw;

    font-size: 2.19vw;
    font-style: italic;
    font-weight: 900;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    color: rgba(255, 228, 20, 1);
  }

  .descr {
    width: 13vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.25vw;
    font-size: 0.83vw;
    font-style: normal;
    font-weight: 700;
    line-height: 1.4;
    text-align: center;
    letter-spacing: -0.32px;
    color: rgba(181, 181, 181, 1);
  }

  .services {
    height: 12.29vw;
    overflow-y: scroll;
    padding: 1.04vw;
    margin-top: auto;
    margin-bottom: 1.67vw;
    border-radius: 1.25vw;
    background-color: rgba(249, 249, 249, 0.1);

    h4 {
      width: max-content;
      display: flex;
      align-items: center;
      gap: 0.31vw;
      margin-bottom: 1.04vw;
      padding: 0.52vw 0.63vw;
      border-radius: 0.63vw;
      background-color: rgba(255, 228, 20, 1);

      font-size: 0.94vw;
      font-style: normal;
      font-weight: 800;
      line-height: 1;
      letter-spacing: -0.36px;

      svg {
        width: 1.25vw;
        height: 1.25vw;
      }
    }

    .servicesList {
      overflow-y: scroll;
      display: flex;
      flex-direction: column;
      gap: 0.63vw;
      padding: 0 1.04vw;
      list-style-image: linear-gradient(90deg, #ffffff 0%, #ffffff 100%);
      list-style: disc;

      li {
        font-size: 0.83vw;
        font-style: normal;
        font-weight: 700;
        line-height: 1.4;
        letter-spacing: -0.32px;

        color: #ffffff;
      }

      li::marker {
        color: #ffffff;
      }
    }

    .channelsHead {
      margin-top: 1.46vw;
    }

    .channelsList {
      padding: 0 1.04vw;
      margin-top: 0.83vw;
      display: flex;
      flex-direction: column;
      gap: 0.83vw;

      li {
        display: flex;
        align-items: center;
        gap: 0.42vw;

        span {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 1.25vw;
          height: 1.25vw;
          background-color: rgba(255, 255, 255, 0.1);
          border-radius: 50%;
          svg {
            width: 0.57vw;
            height: 0.57vw;
            path {
              fill: white !important;
            }
          }
        }

        p {
          color: rgba(249, 249, 249, 1);
        }
      }
    }
  }

  .orderBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 3.49vw;
    margin-bottom: 1.67vw;
    border-radius: 0.83vw;
    flex-shrink: 0;

    background-color: #ffffff;

    span {
      position: relative;
      z-index: 2;

      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.52vw;

      font-size: 0.83vw;
      font-style: normal;
      font-weight: 800;
      transition: color 300ms ease-in-out;
      line-height: normal;
      color: rgba(34, 34, 34, 1);

      svg {
        transition: fill 300ms ease-in-out;
        fill: rgba(34, 34, 34, 1);
      }
    }
  }

  .orderBtn::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(94deg, #ffe414 0.19%, #ffae00 100.19%);
    transition: opacity 300ms ease-in-out;
    opacity: 0;
  }

  .orderBtn:hover::after {
    opacity: 1;
  }

  .orderBtn:hover {
    span {
      color: rgba(34, 34, 34, 1);

      svg {
        fill: rgba(34, 34, 34, 1);
      }
    }
  }

  .moreDetails {
    margin-left: auto;
    margin-right: auto;

    span {
      display: flex;
      gap: 0.42vw;
      justify-content: center;
      align-items: center;

      font-size: 0.83vw;
      font-style: normal;
      font-weight: 800;
      line-height: 1;
      transition: color 300ms ease-in-out;
      color: rgba(181, 181, 181, 1);

      svg {
        transition: fill 300ms ease-in-out;
        fill: rgba(181, 181, 181, 1);
      }
    }
  }

  .moreDetails:hover {
    span {
      color: rgba(255, 228, 20, 1);

      svg {
        fill: rgba(255, 228, 20, 1);
      }
    }
  }
}

.tariffPlan.white {
  background-color: #ffffff;

  .title {
    background-color: rgba(34, 34, 34, 1);
    color: #ffffff;
  }

  .slogan {
    color: rgba(34, 34, 34, 1);
  }

  .services {
    background-color: rgba(249, 249, 249, 1);
    .servicesList {
      list-style-image: linear-gradient(90deg, rgba(34, 34, 34, 1) 0%, rgba(34, 34, 34, 1) 100%);
      list-style: disc;

      li {
        color: rgba(34, 34, 34, 1);
      }

      li::marker {
        color: rgba(34, 34, 34, 1);
      }
    }

    .channelsList {
      li {
        span {
          background-color: rgba(0, 0, 0, 0.1);

          svg {
            path {
              fill: rgba(34, 34, 34, 1) !important;
            }
          }
        }

        p {
          color: rgba(34, 34, 34, 0.6);
        }
      }
    }
  }

  .orderBtn {
    background-color: rgba(34, 34, 34, 1);
    span {
      color: #ffffff;

      svg {
        fill: #ffffff;
      }
    }
  }

  .orderBtn:hover {
    span {
      color: rgba(34, 34, 34, 1);

      svg {
        fill: rgba(34, 34, 34, 1);
      }
    }
  }
}

.tariffPlan.back {
  height: 100%;
  overflow: scroll;
  .services {
    background-color: transparent;

    h4 {
      margin-left: 1.04vw;
      background: linear-gradient(
        141deg,
        rgba(255, 255, 255, 0.12) 8.87%,
        rgba(41, 41, 41, 0.12) 93.36%
      );

      color: rgba(255, 255, 255, 1);
    }

    .servicesList {
      padding-left: 2.08vw;
    }

    .results {
      margin-top: 1.04vw;
      padding: 1.04vw;
      border-radius: 1.25vw;
      background-color: rgba(249, 249, 249, 0.1);

      h4 {
        margin-left: 0;
        color: #222222 !important;
        background-color: rgba(255, 228, 20, 1) !important;
      }

      ul {
        padding-left: 1.04vw;
        list-style: disc;

        li {
          color: #ffffff;
        }
      }
    }
  }
}

.tariffPlan.back.white {
  .services {
    h4 {
      background-color: rgba(34, 34, 34, 1);
      color: #ffffff;
    }

    .results {
      background-color: rgba(249, 249, 249, 1);
      ul {
        li {
          color: #222222;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .card {
    width: 100%;

    .tariffPlan {
      width: 100%;
      padding: 7.47vw;
      border-width: 0.27vw;
      border-radius: 8.53vw;

      .title {
        width: 28.8vw;
        padding: 2.13vw 0;
        margin-bottom: 6.4vw;
        border-radius: 3.2vw;

        font-size: 3.2vw;
        text-align: center;
      }

      .line {
        top: 12vw;
        left: 11.07vw;
        width: 69.33vw;
        height: 0.27vw;
      }

      .slogan {
        width: 69vw;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 3.2vw;

        font-size: 8.53vw;
      }

      .descr {
        width: auto;
        margin-bottom: 6.4vw;

        font-size: 3.73vw;
        letter-spacing: -0.28px;
      }

      .services {
        padding: 5.33vw;
        border-radius: 6.4vw;

        h4 {
          padding: 2.13vw 3.2vw;
          margin-bottom: 3.2vw;
          gap: 1.6vw;
          border-radius: 3.2vw;

          font-size: 3.73vw;
          letter-spacing: -0.28px;

          svg {
            width: 5.33vw;
            height: 5.33vw;
          }
        }

        .servicesList {
          gap: 2.13vw;
          padding-left: 4vw;

          li {
            font-size: 3.73vw;
          }
        }
      }

      .orderBtn {
        height: 14.93vw;
        padding: 4.8vw 0;
        margin-bottom: 6.4vw;
        border-radius: 4.27vw;

        span {
          gap: 2.67vw;

          font-size: 3.73vw;

          svg {
            width: 5.33vw;
            height: 5.33vw;
          }
        }
      }

      .moreDetails {
        span {
          gap: 2.13vw;
          font-size: 3.73vw;
        }
      }
    }

    .tariffPlan.back {
      overflow-y: scroll;
    }
  }
}
