.menuOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999999999;
  transition: all 300ms ease-in-out;
  transform: translateX(100%);

  .contentContainer {
    width: 91.47vw;
    padding-top: 3.2vw;
    margin-left: auto;
    margin-right: auto;

    .header {
      margin-bottom: 3.2vw;
      padding: 3.2vw;
      display: flex;
      justify-content: space-between;
      background-color: rgba(34, 34, 34, 1);
      border-radius: 5.33vw;

      svg {
        height: 10.67vw;
      }

      button {
        width: 10.67vw;
        height: 10.67vw;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 2.13vw;
        fill: #ffffff;

        background-color: rgba(76, 76, 76, 0.4);

        svg {
          width: 7.47vw;
          height: 7.47vw;
        }
      }
    }

    .content {
      padding: 10.67vw;
      border-radius: 8.53vw;
      background-color: rgba(34, 34, 34, 1);

      .langToggler {
        width: max-content;
        position: relative;
        display: flex;
        padding: 1.07vw;
        border-radius: 2.13vw;
        background-color: rgba(255, 255, 255, 0.1);

        .background {
          position: absolute;
          height: calc(100% - 1.07vw * 2);
          width: 12.8vw;
          border-radius: 1.6vw;
          transition: left 300ms ease-in-out;

          background-color: rgba(255, 255, 255, 1);
        }

        .lang {
          position: relative;
          z-index: 10;
          transition: all 300ms ease-in-out;
          display: flex;
          gap: 1.07vw;
          align-items: center;
          color: rgba(181, 181, 181, 1);

          svg {
            transition: all 300ms ease-in-out;
            width: 0;
            opacity: 0;
          }

          p {
            font-size: 2.67vw;
            font-style: normal;
            font-weight: 800;
            line-height: 1;
            color: rgba(34, 34, 34, 1);
          }
        }

        .active {
          width: 12.8vw;

          svg {
            flex-shrink: 0;
            width: 4.27vw;
            opacity: 1;
          }
        }
      }

      nav {
        margin-bottom: 6.4vw;
        ul {
          display: flex;
          flex-direction: column;
          gap: 5.33vw;

          li {
            a {
              font-size: 3.13vw;
              font-weight: 700;
              line-height: 1;
              color: rgba(249, 249, 249, 1);
            }
          }
        }
      }

      .orderACall {
        width: 100%;
        height: 12.8vw;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3.2vw;
        background-color: #fff;
        border-radius: 3.2vw;

        font-size: 3.73vw;
        font-style: normal;
        font-weight: 800;
        line-height: 1.4;
        letter-spacing: -0.28px;
        color: rgba(34, 34, 34, 1);

        svg {
          width: 5.33vw;
          height: 5.33vw;
        }
      }
    }
  }
}

.menuOverlay.isOpen {
  transform: translateX(0%);
}
