.section {
  width: 100%;
  padding-bottom: 10.42vw;
  background: var(--white);
  overflow-x: hidden;
}

.header {
  text-align: center;
  margin-bottom: 4.17vw;
}

.expertise {
  display: block;
  font-family: var(--second-family);
  font-size: 0.73vw;
  font-weight: 700;
  letter-spacing: 0.13em;
  text-transform: uppercase;
  color: var(--gray);
  margin-bottom: 0.63vw;
}

.title {
  font-family: var(--third-family);
  font-weight: 900;
  font-size: 4.17vw;
  line-height: 110%;
  text-transform: uppercase;
  color: var(--light-gray-2);
}

.industries {
  color: var(--light-gray-2);
  display: block;
}

.weKnowWell {
  color: var(--black);
  display: block;
  font-family: var(--third-family);
  font-weight: 900;
}

.casesCount {
  color: var(--primary, #ffe414);
  font-size: 0.36vw;
  margin-left: 0.42vw;
  font-family: var(--third-family);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(9.38vw, 15vw));
  gap: 2.08vw;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  margin: 0 auto;
  padding-left: 4.17vw;
  padding-right: 4.17vw;
  overflow-x: auto;
  gap: 0.84vw;
}

.card {
  background: var(--white);
  border: 0.08vw dashed var(--gray);
  border-radius: 1.25vw;
  padding: 1.67vw 0;
  width: 15vw;
  height: 26.67vw;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  transition:
    border 0.2s,
    box-shadow 0.2s;
  box-sizing: border-box;
  padding: 2.1vw;
  border: 1px dashed var(--gray);
  position: relative;
  overflow: hidden;
}
/* .swiper,
.slidePair {
  display: none;
} */

.card::before {
  content: '';
  position: absolute;
  inset: 0;
  background: var(--bg-url) center/cover no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease-out;
  z-index: 0;
  pointer-events: none;
}

.card > * {
  position: relative;
  z-index: 1;
}
.cardText {
  display: none;
}

.card:hover {
  /* outline: 0.1vw solid var(--primary, #ffe414); */
  border: 1px dashed var(--gray);
  z-index: 2;
}

/* .active {
  border: 0.13vw solid var(--primary, #ffe414);
  box-shadow: 0 0 0 0.1vw #ffe41433;
} */

.cardTop {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  width: 10.83vw;
  height: 2.71vw;
  position: relative;
}

.cases {
  font-family: var(--font-family);
  font-size: 0.78vw;
  font-weight: 700;
  color: var(--black);
  letter-spacing: 0.01em;
  margin-left: 0.42vw;
}

.closeBtnWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding-top: 0;
}

.closeBtn {
  /* width: 2.71vw;
  height: 2.71vw; */
  /* padding: 1.25vw; */
  border-radius: 50%;
  background: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 0 0.1vw 0.42vw rgba(0, 0, 0, 0.07);
  padding: 0.84vw;
  transition:
    background 0.2s,
    transform 0.2s;
  top: unset;
  right: unset;
}

.arrowIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.04vw;
  height: 1.04vw;
  /* transform: rotate(-180deg); */
}
.cardTitleBlock {
  width: 10.83vw;
  height: auto;
}

.iconWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6.17vw;
}

.grid {
  display: flex; /* або grid, як вам потрібно */
}
.swiper,
.slidePair {
  display: none;
}

@media (min-width: 1020px) {
  .iconWrap > * {
    width: 100%;
    height: 100%;
  }
  .iconWrap svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .card:hover {
    flex: 0 0 27.33vw;

    transform: scale(1.03);
    z-index: 2;
    display: flex;
    align-items: flex-start;
    padding: 3.13vw;
  }
  .card:hover::before {
    opacity: 1;
  }
  .bgImage {
    display: block;
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    transition: background-image 0.3s;
    z-index: 0;
  }

  .content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }
  .card {
    position: relative;
    overflow: hidden;
  }

  .bgImage {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    z-index: 0;
    pointer-events: none;
  }

  .content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }
  .cardTop {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    width: 10.83vw;
    height: 2.71vw;
    position: relative;
  }
  .grid {
    display: flex;
    gap: 0.84vw;
    justify-content: center;
    align-items: stretch;
    padding: 0 4.17vw;
    overflow-x: visible;
  }

  .card {
    flex: 0 0 15vw;
    height: 26.67vw;
    position: relative;
    overflow: hidden;
    border: 1px dashed var(--gray);
    border-radius: 1.25vw;
    padding: 2.1vw;
    box-sizing: border-box;

    transition:
      flex-basis 0.3s ease-out,
      transform 0.3s ease-out;
    transform-origin: center center;
  }

  .card:hover .cardTop {
    width: 424px;
    height: 52px;
  }
  .card:hover .cases {
    font-family: var(--third-family);
    font-weight: 700;
    font-size: 0.73vw;
    line-height: 140%;
    letter-spacing: 0.13em;
    text-transform: uppercase;
    text-align: center;
    color: var(--white);
  }
  .card:hover .cardTitle {
    font-family: var(--second-family);
    font-style: italic;
    font-weight: 900;
    font-size: 2.5vw;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--white);
    text-align: left;
  }

  .card:hover .cardTitleBlock {
    display: flex;
    gap: 0.52vw;
    flex-direction: column;
    width: 22.08vw;
    height: auto;
  }

  .card:hover .closeBtn {
    display: none;
  }
  .card:hover .cardText {
    display: block;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 0.83vw;
    line-height: 140%;
    color: var(--light-garay-2);
  }
  .card:hover .iconWrap {
    width: 4.48vw;
    height: 4.48vw;
  }
  /* .swiper,
  .slidePair {
    display: none;
  } */
}
.bgImage {
  /* display: none; */
}

.backgroundImage {
  /* display: none; */
}

.cardTitle {
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 1.15vw;
  line-height: 110%;
  text-transform: uppercase;
  color: var(--black);
  text-align: center;
  position: relative;
}
.wrapHeading {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 0.63vw;

  .count {
    color: #f5da0a;
    font-family: 'Inter Tight';
    font-size: 2.08333vw;
    font-style: italic;
    font-weight: 900;
    line-height: 100%;
    text-transform: uppercase;
    margin-bottom: 2vw;
  }
}

.industriesBadge {
  /* width: 704px;
  height: 222px; */
}

@media (max-width: 1020px) {
  /* .swiper,
  .slidePair {
    display: none;
  } */
  .swiper {
    width: 91.6vw;

    padding-bottom: 1rem;
  }
  .card {
    border: none;
  }

  /* ------- */

  .section {
    padding: 21vw 4vw 21vw;
    margin: 0 auto;
    /* width: 100%;
    padding-bottom: 10.42vw; */
    display: flex;
    gap: 24px;
    flex-direction: column;
  }

  .iconWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15.14vw;
    height: 15.14vw;
    position: relative;
  }
  /* .swiper {
    width: 91.6vw;
    padding-bottom: 1rem;
  } */
  .swiper {
    width: 100%;
    padding-bottom: 1rem;
  }
  .slidePair {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    display: block;
  }
  .card {
    border-radius: 6.49vw;
    padding: 7.57vw;
    width: 75.68vw;
    height: 91.35vw;
    display: flex;
    align-items: flex-start;
  }
  .swiper-wrapper {
    margin-bottom: 6.49vw;
  }
  .cardTop {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .closeBtn {
    display: none;
  }
  .cases {
    font-family: var(--third-family);
    font-weight: 700;
    font-size: 3.24vw;
    line-height: 140%;
    letter-spacing: 0.13em;
    text-transform: uppercase;
    color: var(--white);
  }
  .cardTitle {
    font-family: var(--second-family);
    font-style: italic;
    font-weight: 900;
    font-size: 6.49vw;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--white);
    text-align: left;
    position: relative;
  }
  .cardText {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 3.78vw;
    line-height: 140%;
    letter-spacing: -0.02em;
    color: var(--light-garay-2);
    display: block;
    position: relative;
  }

  .card {
    position: relative;
    overflow: hidden;
    border-radius: 24px;
    background-image: url('/images/Industries1.png');
  }

  .bgImage {
    display: block;
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    z-index: 0;
    transition: 0.3s;
    filter: grayscale(100%);
  }
  .content {
    position: relative;

    padding: 24px;
    color: white;
  }
  .industry1 {
    background-image: url('/images/Industries1.png');
  }

  .wrapHeading {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 0.63vw;

    .count {
      color: #f5da0a;
      font-family: 'Inter Tight';
      font-size: 5.33vw;
      font-style: italic;
      font-weight: 900;
      line-height: 100%; /* 2.08333rem */
      text-transform: uppercase;
      margin-bottom: 2vw;
    }
  }
  .bgImage {
    opacity: 1 !important;
  }
  .cardTitleBlock {
    display: flex;
    /* gap: 5.33vw; */
    flex-direction: column;
    width: 59.73vw;
    height: auto;
    height: 42.93vw;
    justify-content: space-around;
  }
}
@media (max-width: 1020px) {
  .grid {
    display: none;
  }
  .swiper,
  .slidePair {
    display: block;
  }
}
