.section {
  padding-top: 10.42vw;
  padding-bottom: 10.42vw;
  background-color: rgba(34, 34, 34, 1);

  .topBlock {
    margin-bottom: 4.17vw;

    .upperDescr {
      width: max-content;
      margin-bottom: 2.08vw;
      margin-left: auto;
      margin-right: auto;
      padding: 0.42vw 1.25vw;
      border-radius: 2.08vw;
      background-color: rgba(255, 255, 255, 0.1);
      color: #ffffff;
    }

    h2 {
      position: relative;
      width: max-content;
      margin-left: auto;
      margin-right: auto;
      font-size: 4.17vw;
      font-style: normal;
      font-weight: 900;
      line-height: 1.1;
      text-align: center;
      text-transform: uppercase;
      color: rgba(181, 181, 181, 1);

      span {
        font-style: italic;
        color: #ffffff;
      }
    }

    h2:after {
      content: '(4)';
      position: absolute;
      bottom: 2vw;
      right: -4.08vw;
      font-size: 2.08vw;
      font-style: italic;
      font-weight: 900;
      line-height: 1;
      text-transform: uppercase;
      color: rgba(245, 218, 10, 1);
    }
  }

  .tariffsList {
    display: flex;
    gap: 0.42vw;
    padding: 0 4.17vw;
  }
}

@media screen and (max-width: 1024px) {
  .section {
    padding-top: 21.33vw;
    padding-bottom: 47.47vw;

    .topBlock {
      margin-bottom: 8.53vw;

      h2 {
        width: 78.27vw;
        font-size: 8.53vw;
        line-height: 1.1;
      }

      h2:after {
        font-size: 5.33vw;
        bottom: 3.5vw;
        right: 10vw;
      }
    }

    .tariffsList {
      flex-direction: column;
      gap: 4.27vw;
    }
  }
}
