.iconHero {
  display: flex;
  padding: 0.4vw;
  align-items: flex-start;
  gap: 0.4vw;
  border-radius: 20.8vw;
  border: 0.05vw solid #fff;
  background: linear-gradient(
    169deg,
    rgba(255, 255, 255, 0.16) -6.56%,
    rgba(255, 255, 255, 0) 112.07%
  );
  transform: translateY(-10%);

  .icon {
    display: flex;
    width: 4.17vw;
    height: 4.17vw;
    padding: 0.9vw 0.9vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    border-radius: 10.4vw;
    background: var(--White, #fff);
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    margin-left: 4.8vw;
  }
}
.small {
  .icon {
    margin-left: 3.9vw;
  }
}

@media screen and (max-width: 1024px) {
  .iconHero {
    border-radius: 53.33vw;
    padding: 1.07vw;

    .icon {
      width: 10.67vw;
      height: 10.67vw;
      margin-left: 12.8vw;
    }
  }
}
