.section {
  padding-top: 10.42vw;
  padding-bottom: 10.42vw;
  background-color: rgba(249, 249, 249, 1);

  .topBlock {
    margin-bottom: 6.25vw;
  }

  .accordionCont {
    width: 64.58vw;
    display: flex;
    flex-direction: column;
    gap: 0.625vw;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 1024px) {
  .section {
    padding-top: 21.33vw;
    padding-bottom: 21.33vw;
    .accordionCont {
      width: 91.47vw;
    }
  }
}
