.blog {
  .fillFormWrapper {
    background: var(--light-gray);
    padding-top: 5.2vw;
    padding-bottom: 5.2vw;
  }

  .heroPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4vw;
    border-radius: 0px 0px 40px 40px;
    background: var(--Black, #222);
    padding: 9.47vw 0 5.2vw 0;
    margin-bottom: 5.2vw;
    overflow: hidden;

    .subtitle {
      display: flex;
      padding: 0.41vw 1.25vw;
      justify-content: center;
      align-items: center;
      gap: 0.52vw;
      border-radius: 2.08vw;
      background: rgba(255, 255, 255, 0.1);
      margin-bottom: 0.4vw;

      span {
        text-align: center;
        font-family: 'Inter Tight';
        font-size: 0.72vw;
        font-style: normal;
        font-weight: 700;
        line-height: 140%; /* 1.02083rem */
        letter-spacing: 0.09vw;
        text-transform: uppercase;
        background: linear-gradient(94deg, #ffe414 0.19%, #ffae00 100.19%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    h1 {
      text-align: center;
      font-family: 'Inter Tight';
      font-size: 5.2vw;
      font-style: normal;
      font-weight: 900;
      line-height: 110%; /* 5.72917rem */
      text-transform: uppercase;
      color: var(--white);
      max-width: 48.2vw;
      margin: 0 auto;
    }
  }
}
