.checkboxLabel {
  flex-grow: 1;
  display: inline-flex;
  gap: 0.63vw;
  align-items: center;
  padding: 1.15vw 1.25vw;
  box-sizing: border-box;
  width: max-content;
  border-radius: 0.63vw;
  background-color: rgba(249, 249, 249, 1);

  font-size: 0.73vw;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  color: rgba(181, 181, 181, 1);

  svg.icon {
    display: block;
    width: 1.04vw;
    height: 1.04vw;
    flex-shrink: 0;
  }

  .labelText {
    white-space: nowrap;
  }
  span {
    white-space: nowrap;
    margin-bottom: 0px !important;
  }
}

.active {
  border: 0.05vw solid rgba(34, 34, 34, 1);
  padding: 1.05vw 1.2vw;
}

@media screen and (max-width: 1024px) {
  .checkboxLabel {
    flex-shrink: 0;
    width: max-content;
    height: 12.27vw;
    padding: 3.47vw 5.33vw;
    gap: 2.13vw;
    border-radius: 3.2vw;

    font-size: 3.73vw;

    svg.icon {
      width: 5.33vw;
      height: 5.33vw;
    }
  }
}
