.header {
  max-width: 91.6vw;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  position: absolute;
  top: 1.04vw;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  background: var(--Black, #222);
  border-radius: 1.2vw;
  padding: 0 0.625vw;

  .logoHeader {
    height: 4.46vw;
    padding: 0.625vw 0;
    box-sizing: border-box;

    svg {
      max-height: 3.2vw;
    }
  }

  nav {
    width: max-content;
    margin: 0 auto;

    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.4vw;
      align-items: center;
      border-radius: 0.6vw;
      background: rgba(76, 76, 76, 0.4);
      backdrop-filter: blur(2px);

      li a {
        display: flex;
        width: 6.8vw;
        padding: 0.8vw 0.9vw;
        justify-content: center;
        align-items: center;
        gap: 0.5vw;
        width: 6.8vw;
        color: var(--Light-gray, #f9f9f9);
        text-align: center;
        font-size: 0.72vw;
        font-style: normal;
        font-weight: 700;
        line-height: 100%; /* 0.72917rem */
        transition-duration: 0.3s;
        border-radius: 0.6vw;
        cursor: pointer;
      }
      li a:hover {
        background: var(--Black, #222);
      }
      li.current a {
        background: var(--White, #fff);
        color: var(--Black, #222);
      }
    }
  }
  .left {
    margin-left: auto;
    display: flex;
    gap: 0.42vw;

    .btn {
      position: relative;
      overflow: hidden;
      padding: 1.09vw 2.08vw;
      border-radius: 0.6vw;
      background: var(--White, #fff);
      color: var(--Black, #222);
      text-align: center;
      width: max-content;

      span {
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.6vw;

        font-size: 0.83vw;
        font-style: normal;
        font-weight: 600;
        line-height: normal;

        svg {
          width: 1.04vw;
        }
      }
    }

    .btn::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 20.81vw;
      z-index: 1;
      transition: opacity 300ms ease-in-out;
      opacity: 0;
      background: linear-gradient(94deg, #ffe414 0.19%, #ffae00 100.19%);
    }

    .btn:hover::after {
      opacity: 1;
    }
  }

  button.mobMenuBtn {
    display: none;
  }
}

.localeWrap {
  display: flex;
  padding: 0.41667vw;
  align-items: center;
  gap: 0.20833vw;
  border-radius: 0.625vw;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(6px);
  color: var(--Light-garay-2, #b5b5b5);
  text-align: center;
  font-size: 0.72917vw;
  font-style: normal;
  font-weight: 800;
  line-height: 100%; /* 0.72917rem */

  .currentLang {
    display: flex;
    padding: 0.78125vw 0.625vw;
    justify-content: center;
    align-items: center;
    gap: 0.41667vw;
    border-radius: 0.41667rem;
    background: var(--White, #fff);
    color: #222;

    img {
      width: 1.14vw;
    }
  }
  .lang {
    display: flex;
    padding: 0.78125vw 0.625vw;
    justify-content: center;
    align-items: center;
    gap: 0.41667vw;
    cursor: pointer;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    display: flex;
    justify-content: space-between;
    padding: 3.2vw;
    border-radius: 6.4vw;
    position: fixed;

    .logoHeader {
      width: 25.33vw;
      height: 10.67vw;
      max-height: 10.67vw;
      padding: 0;

      div {
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          width: 25.33vw;
          height: 10.67vw;
          max-height: 10.67vw;
        }
      }
    }

    nav {
      display: none;
    }
    .left {
      display: none;
    }
    button.mobMenuBtn {
      width: 10.67vw;
      height: 10.67vw;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 2.13vw;
      background-color: rgba(76, 76, 76, 0.4);

      svg {
        width: 5.33vw;
        height: 3.73vw;
      }
    }
  }

  .localeWrap {
    width: max-content;
    padding: 1.07vw;
    border-radius: 2.13vw;
    margin-bottom: 6.4vw;

    .currentLang {
      justify-content: space-between;
      width: 12.8vw;
      height: 7.47vw;
      padding: 2.13vw 1.6vw;

      .localeName {
        font-size: 2.67vw;
      }

      img {
        width: 4.27vw;
      }
    }

    .lang {
      padding: 2.13vw 1.6vw;
      font-size: 2.67vw;
    }
  }
}
