.section {
  padding: 10.42vw 0;

  .headWrapper {
    margin-bottom: 4.17vw;
    .wrapHeading {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      gap: 0.63vw;

      .count {
        color: #f5da0a;
        font-family: 'Inter Tight';
        font-size: 2.08333vw;
        font-style: italic;
        font-weight: 900;
        line-height: 100%; /* 2.08333rem */
        text-transform: uppercase;
        margin-top: 0.6vw;
      }
    }
  }

  .content {
    width: 91.67vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 2.08vw;

    .paginationCont {
      display: flex;
      gap: 1.67vw;

      .falsePagination {
        display: flex;
        flex-direction: column;
        gap: 0.83vw;
      }

      .paginationBullet {
        width: 0.31vw;
        height: 0.31vw;
        background-color: rgba(239, 239, 239, 1);
        border-radius: 50%;
      }

      .paginationBulletActive {
        height: 1.88vw;
        background-color: rgba(34, 34, 34, 1);
        border-radius: 4.17vw;
      }

      .swiperShort {
        display: flex;
        flex-direction: column;

        .swiperShortItem {
          width: 17.24vw;
          padding: 1.25vw;
          border-radius: 0.83vw;
          transition: background-color 300ms ease-in-out;
          background-color: #ffffff;

          p {
            display: flex;
            justify-content: center;
            align-items: center;
            white-space: nowrap;
            width: max-content;
            padding: 0.42vw 0.83vw;
            margin-bottom: 1.04vw;
            border-radius: 0.63vw;
            transition: background-color 300ms ease-in-out;
            transition: color 300ms ease-in-out;
            background-color: rgba(249, 249, 249, 1);

            font-size: 0.63vw;
            font-style: normal;
            font-weight: 700;
            line-height: 1.4; /* 16.8px */
            letter-spacing: 1.56px;
            text-transform: uppercase;
            color: rgba(181, 181, 181, 1);
          }

          h3 {
            font-size: 0.83vw;
            font-style: normal;
            font-weight: 800;
            line-height: 1.4;
            letter-spacing: -0.32px;
            transition: color 300ms ease-in-out;
            color: rgba(181, 181, 181, 1);
          }
        }

        .swiperShortActive {
          background-color: rgba(249, 249, 249, 1);
          p {
            background-color: rgba(34, 34, 34, 1);
            color: #ffffff;
          }
          h3 {
            color: rgba(34, 34, 34, 1);
          }
        }
      }
    }

    .swiperContainer {
      width: 70.36vw;

      .controlsCont {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1.67vw;
        background-color: rgba(249, 249, 249, 1);
        border-radius: 0.83vw;

        p {
          font-size: 0.83vw;
          font-style: normal;
          font-weight: 800;
          line-height: 1.2;
          letter-spacing: -0.32px;
          text-transform: capitalize;

          color: rgba(104, 104, 104, 1);
        }
        .controls {
          width: max-content;
          padding: 0.42vw;
          display: flex;
          gap: 1.67vw;
          align-items: center;
          background-color: rgba(249, 249, 249, 1);
          border-radius: 0.83vw;

          .pagination {
            width: max-content;
            display: flex;
            justify-content: center;
            gap: 0.83vw;

            .paginationBullet {
              width: 0.31vw;
              height: 0.31vw;
              background-color: rgba(239, 239, 239, 1);
              border-radius: 50%;
            }

            .paginationBulletActive {
              width: 1.88vw;
              background-color: rgba(34, 34, 34, 1);
              border-radius: 4.17vw;
            }
          }

          .navigationBtn {
            width: 8.54vw;
            height: 2.92vw;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 0.83vw;
            background-color: #ffffff;
          }

          .navigationPrev {
          }

          .navigationNext {
            transform: rotateZ(180deg);
          }

          .disabled {
            .navArrow {
              fill-opacity: 0.6;
            }
          }
        }
      }
    }
  }
}
