.section {
  padding-bottom: 10.42vw;
  overflow-x: hidden;

  .headWrapper {
    margin-bottom: 4.17vw;
    .wrapHeading {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      gap: 0.63vw;

      .count {
        color: #f5da0a;
        font-family: 'Inter Tight';
        font-size: 2.08333vw;
        font-style: italic;
        font-weight: 900;
        line-height: 1;
        text-transform: uppercase;
        margin-top: 0.6vw;
      }
    }
  }

  .content {
    width: 91.67vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 2.08vw;

    .paginationCont {
      display: flex;
      gap: 1.67vw;

      .falsePagination {
        display: flex;
        flex-direction: column;
        gap: 0.83vw;
      }

      .paginationBullet {
        width: 0.31vw;
        height: 0.31vw;
        background-color: rgba(239, 239, 239, 1);
        border-radius: 50%;
      }

      .paginationBulletActive {
        height: 1.88vw;
        background-color: rgba(34, 34, 34, 1);
        border-radius: 4.17vw;
      }

      .swiperShort {
        display: flex;
        flex-direction: column;

        .swiperShortItem {
          width: 17.24vw;
          padding: 1.25vw;
          border-radius: 0.83vw;
          transition: background-color 300ms ease-in-out;
          background-color: #ffffff;

          p {
            display: flex;
            justify-content: center;
            align-items: center;
            white-space: nowrap;
            width: max-content;
            padding: 0.42vw 0.83vw;
            margin-bottom: 1.04vw;
            border-radius: 0.63vw;
            transition: background-color 300ms ease-in-out;
            transition: color 300ms ease-in-out;
            background-color: rgba(249, 249, 249, 1);

            font-size: 0.63vw;
            font-style: normal;
            font-weight: 700;
            line-height: 1.4; /* 16.8px */
            letter-spacing: 1.56px;
            text-transform: uppercase;
            color: rgba(181, 181, 181, 1);
          }

          h3 {
            font-size: 0.83vw;
            font-style: normal;
            font-weight: 800;
            line-height: 1.4;
            letter-spacing: -0.32px;
            transition: color 300ms ease-in-out;
            color: rgba(181, 181, 181, 1);
          }
        }

        .swiperShortActive {
          background-color: rgba(249, 249, 249, 1);
          p {
            background-color: rgba(34, 34, 34, 1);
            color: #ffffff;
          }
          h3 {
            color: rgba(34, 34, 34, 1);
          }
        }

        .swiperShortItem:hover {
          p {
            color: rgba(34, 34, 34, 1);
          }
        }

        .swiperShortActive:hover {
          p {
            color: #ffffff;
          }
        }
      }
    }

    .swiperContainer {
      width: 70.36vw;

      .swiper {
        margin-bottom: 0.42vw;
      }

      .controlsCont {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1.67vw;
        background-color: rgba(249, 249, 249, 1);
        border-radius: 0.83vw;

        p {
          font-size: 0.83vw;
          font-style: normal;
          font-weight: 800;
          line-height: 1.2;
          letter-spacing: -0.32px;
          text-transform: capitalize;

          color: rgba(104, 104, 104, 1);
        }
        .controls {
          width: max-content;
          padding: 0.42vw;
          display: flex;
          gap: 1.67vw;
          align-items: center;
          background-color: rgba(249, 249, 249, 1);
          border-radius: 0.83vw;

          .pagination {
            width: max-content;
            display: flex;
            justify-content: center;
            gap: 0.83vw;

            .paginationBullet {
              width: 0.31vw;
              height: 0.31vw;
              background-color: rgba(239, 239, 239, 1);
              border-radius: 50%;
            }

            .paginationBulletActive {
              width: 1.88vw;
              background-color: rgba(34, 34, 34, 1);
              border-radius: 4.17vw;
            }
          }

          .navigationBtn {
            width: 8.54vw;
            height: 2.92vw;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 0.83vw;
            transition: all 300ms ease-in-out;
            background-color: #ffffff;

            svg {
              fill: rgba(34, 34, 34, 1);
            }
          }

          .navigationBtn:hover {
            background-color: rgba(34, 34, 34, 1);

            svg {
              fill: #ffffff;
            }
          }

          .navigationPrev {
          }

          .navigationNext {
            transform: rotateZ(180deg);
          }

          .disabled {
            .navArrow {
              fill-opacity: 0.6;
            }
          }

          .disabled:hover {
            background-color: #ffffff;

            .navArrow {
              fill: rgba(34, 34, 34, 1);
              fill-opacity: 0.6;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .section {
    padding-top: 21.33vw;
    padding-bottom: 21.33vw;
    .headWrapper {
      margin-bottom: 8.53vw;

      .wrapHeading {
        position: relative;
        h2 {
          width: 50vw;
          text-align: left;
        }

        .count {
          position: absolute;
          bottom: 3vw;
          right: 21vw;
          font-size: 5.33vw;
        }
      }
    }

    .content {
      width: 91.47vw;
      flex-direction: column;

      .paginationCont {
        flex-direction: column;
        margin-bottom: 2.13vw;

        .falsePagination {
          margin-bottom: 3.2vw;
          padding-left: 6.4vw;
          flex-direction: row;
          align-items: center;
          gap: 4.27vw;

          .paginationBullet {
            height: 1.6vw;
            width: 1.6vw;
          }

          .paginationBulletActive {
            height: 1.6vw;
            width: 9.6vw;
          }
        }

        .swiperShort {
          flex-direction: row;

          .swiperShortItem {
            width: 91.47vw;
            flex-shrink: 0;
            padding: 4.27vw;
            border-radius: 4.27vw;

            p {
              margin-bottom: 3.2vw;
              padding: 1.6vw 3.2vw;
              border-radius: 2.13vw;

              font-size: 3.2vw;
            }

            h3 {
              font-size: 4.27vw;
            }
          }
        }
      }

      .swiperContainer {
        width: 91.47vw;

        .expandBtn {
          width: 100%;
          margin-bottom: 6.4vw;
          display: flex;
          justify-content: center;
          gap: 2.13vw;

          font-size: 3.73vw;
          font-style: normal;
          font-weight: 800;
          line-height: 1.4;
          letter-spacing: -0.28px;
          color: rgba(104, 104, 104, 1);

          svg {
            transition: transform 300ms ease-in-out;
            transform: rotateZ(180deg);
          }
        }

        .expandBtn.isExpanded {
          svg {
            transform: rotateZ(0deg);
          }
        }

        .controlsCont {
          padding: 2.13vw 5.33vw;
          border-radius: 4.27vw;

          p {
            font-size: 3.73vw;
          }

          .controls {
            .pagination {
              visibility: hidden;
              width: 0;
              height: 0;
            }

            .navigationBtn {
              width: 23.33vw;
              height: 14.93vw;
              border-radius: 4.27vw;
            }
          }
        }
      }
    }
  }
}
