.section {
  width: 100%;
  margin: 0 auto;
  /* background: var(--white); */
  background: var(--light-gray);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}

.headWrapper {
  width: 100%;
  text-align: center;
  margin-top: 10vw;
  margin-bottom: 4.2vw;
}

.title {
  font-family: var(--third-family);
  font-style: italic;
  font-weight: 900;
  font-size: 2.917vw;
  line-height: 100%;
  text-transform: uppercase;
  color: var(--light-garay-2);
  margin-bottom: 0.5vw;
}

.subtitle {
  font-family: var(--third-family);
  font-style: italic;
  font-weight: 900;
  font-size: 2.917vw;
  text-transform: uppercase;
  color: var(--black);
  display: inline-block;
}

.yellow {
  color: #f5da0a;
  font-style: italic;
  font-weight: 900;
  margin-left: 0.5vw;
}

.outcomes {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 9vw;
}

.sliderWindow {
  width: 100%;
  position: relative;
  margin-bottom: 3.2vw;
}

.swiperCustom {
  width: 100%;
  height: 100%;
  padding-bottom: 2vw;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
}

.card {
  height: 100%;
  background: var(--black);
  border-radius: 1.667vw;
  box-shadow:
    0 0.208vw 0.833vw rgba(0, 0, 0, 0.12),
    0 0.417vw 1.667vw rgba(0, 0, 0, 0.07);
  backdrop-filter: blur(0.313vw);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 3.125vw;
  position: relative;
  overflow: hidden;
  justify-content: space-between;
  transition: all 0.3s ease;
}

.cardNumber {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 1.25vw;
  color: var(--white);
  margin-bottom: 0.7vw;
  letter-spacing: 0.08em;
  display: flex;
  align-items: center;
}

.cardIcon {
  display: flex;
  justify-content: center;
}

.sliderDotsRow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7vw;
  margin-top: 1vw;
}
.sliderDot {
  background: #e4e4e4;
  width: 0.8vw;
  height: 0.8vw;
  border-radius: 50%;
  opacity: 1;
  transition: all 0.2s;
}
.sliderActiveDot {
  background: var(--black);
  width: 2vw;
  height: 0.5vw;
  border-radius: 52.03vw;
}

.sliderNavWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  margin-top: 1vw;
}
.arrowContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.arrowBtn {
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  background: var(--white);
  box-shadow: 0 0.2vw 1vw rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  transition:
    box-shadow 0.2s,
    border 0.2s,
    background 0.2s;
}
.arrowBtn img {
  width: 1.7vw;
  height: 1.7vw;
  object-fit: contain;
  display: block;
}
.arrowBtn:hover {
  box-shadow: 0 0.4vw 2vw rgba(245, 218, 10, 0.2);
  border: 0.1vw solid #f5da0a;
  background: var(--light-garay-2);
}

.miniCard {
  border-radius: 1.667vw;
  padding: 2.083vw;
  width: 19.271vw;
  height: 16.667vw;
  backdrop-filter: blur(0.313vw);
  box-shadow: 0 0.208vw 0.833vw 0 rgba(0, 0, 0, 0.1);
  background: var(--black);
}

.cardTextBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.3s ease;
}

.headlineContainer {
  width: 66.667vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.headlineMain {
  font-family: var(--third-family);
  font-weight: 900;
  font-size: 4.167vw;
  line-height: 110%;
  text-transform: uppercase;
  text-align: center;
  color: var(--light-garay-2);
}

.headlineItalic {
  font-family: var(--third-family);
  font-style: italic;
  font-weight: 900;
  font-size: 4.167vw;
  line-height: 120%;
  text-transform: uppercase;
  text-align: center;
  color: var(--black);
  margin-top: -0.5vw;
}

.headlineCount {
  font-family: var(--third-family);
  font-style: italic;
  font-weight: 900;
  font-size: 2.083vw;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
  color: #f5da0a;
  width: 2.865vw;
  height: 4.167vw;
  padding: 1.042vw 0;
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.5vw;
}

.outcomesLabel {
  width: 7.448vw;
  height: 1.875vw;
  border-radius: 2.083vw;
  padding: 0.417vw 1.25vw;
  background: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 1vw auto;
}

.outcomesLabelText {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 0.729vw;
  line-height: 140%;
  letter-spacing: 0.13em;
  text-transform: uppercase;
  text-align: center;
  color: var(--black);
}

.wrapHeading {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 0.63vw;

  .count {
    color: #f5da0a;
    font-family: 'Inter Tight';
    font-size: 2.08333vw;
    font-style: italic;
    font-weight: 900;
    line-height: 100%;
    text-transform: uppercase;
    margin-bottom: 6.5vw;
    font-size: 2.08vw;
  }
}

.cardBlock {
  border-radius: 0.625vw;
  padding: 0.625vw;
  width: 4.17vw;
  height: 4.17vw;
  backdrop-filter: blur(0.417vw);
  box-shadow: 0.104vw -0.104vw 1.042vw 0 rgba(255, 228, 20, 0.15);
  border: 0.05vw solid #fff;
}

.cardIconcBlock {
  border-radius: 0.625vw;
  padding: 0.625vw;
  height: 2.917vw;
  backdrop-filter: blur(0.417vw);
  background: linear-gradient(141deg, rgb(255 255 255 / 24%) 0%, rgb(60 60 60 / 27%) 100%);
  border: 0.05vw solid #fff;
  display: flex;
  justify-content: center;
}
.cardNumberBlock {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1.25vw;
  position: relative;
  height: 4.17vw;
  align-items: center;
}
.cardTitleText {
  font-family: var(--second-family);
  font-style: italic;
  font-weight: 900;
  font-size: 2.92vw;
  line-height: 100%;
  text-transform: uppercase;
  color: var(--white);
  transition: all 0.3s ease;
}

.swiperCustomOutcome {
  overflow: visible;
}
.swiperCustomOutcome :global(.swiper-wrapper) {
  align-items: center;
  height: 26.7vw;
}
.swiperCustomOutcome .card {
  transition: all 0.4s;
}
.swiperCustomOutcome :global(.swiper-slide) {
  width: 20vw;
  opacity: 0.5;
  padding: 5.85vw 0;
  height: 100%;
  transition: all 300ms ease-in-out;
}
.swiperCustomOutcome :global(.swiper-slide) .card {
  transition: all 0.4s;
  padding: 2.083vw;
}
.swiperCustomOutcome :global(.swiper-slide-active) .card {
  padding: 3.125vw;
}
.swiperCustomOutcome :global(.swiper-slide-active) {
  transform: scale(1.1);
  margin-left: 0.83vw;
  margin-right: 0.83vw;
  opacity: 1;
  padding: 0;
}

/* Уникни змін padding */
.swiperCustomOutcome .cardTextBlock {
  transition: all 0.4s;
  transform: scale(0.5) translate(-50%, -50%);
  width: 24vw;
}

.swiperCustomOutcome :global(.swiper-slide-active) .cardTextBlock {
  transform: scale(1);
}

.swiperCustomOutcome :global(.swiper-slide-prev),
.swiperCustomOutcome :global(.swiper-slide-next) {
  opacity: 0.9;
}

.swiperSlide {
  margin-right: 0.83vw;
}

.controls {
  width: 30vw;
  margin-bottom: 9.38vw;
  padding: 0.42vw;
  border-radius: 0.83vw;
  display: flex;
  justify-content: space-between;
  gap: 1.67vw;
  background-color: #fff;

  .navSwiperPrev {
  }

  .navSwiperNext {
    transform: rotateZ(180deg);
  }

  .swiperNavBtn {
    width: 8.54vw;
    height: 2.92vw;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.83vw;
    transition: background-color 300ms ease-in-out;
    background-color: rgba(249, 249, 249, 1);

    svg {
      width: 0.94vw;
      transition: fill 300ms ease-in-out;
      fill: #222222;
    }
  }

  .swiperNavBtn:hover {
    background-color: #222222;
    svg {
      fill: rgba(249, 249, 249, 1);
    }
  }

  .paginationCont {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .paginationBullet {
      display: block;
      width: 0.31vw;
      height: 0.31vw;
      background-color: rgba(228, 228, 228, 1);
      border-radius: 8.65vw;
    }

    .bulletActive {
      width: 1.88vw;
      background-color: rgba(34, 34, 34, 1);
    }
  }
}

@media (max-width: 1020px) {
  .wrapHeading {
    margin-bottom: 8.53vw;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 0.63vw;

    .count {
      color: #f5da0a;
      font-family: 'Inter Tight';
      font-size: 2.08333vw;
      font-style: italic;
      font-weight: 900;
      line-height: 100%; /* 2.08333rem */
      text-transform: uppercase;
      margin-bottom: 2vw;
      position: absolute;
      right: 18vw;
      font-size: 5.33vw;
    }
    .section {
      padding: 21.33vw 0 21.33vw 0;
    }
  }
}
