.footer {
  position: relative;
  padding: 5.21vw 4.17vw;
  padding-bottom: 8vw;
  background-color: rgba(34, 34, 34, 1);
  border-top-left-radius: 2.08vw;
  border-top-right-radius: 2.08vw;
  overflow: hidden;

  .topBlock {
    display: flex;
    justify-content: space-between;
    z-index: 999;
    position: relative;

    .slogan {
      width: 36.31vw;

      font-family: 'Inter Tight';
      font-size: 4.17vw;
      font-style: italic;
      font-weight: 900;
      line-height: 1.2;
      text-transform: uppercase;
      background: linear-gradient(
        169deg,
        rgba(255, 255, 255, 0.16) -6.56%,
        rgba(255, 255, 255, 0.03) 112.07%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      .logoContainer {
        display: inline-flex;
        transform: none;
        width: max-content;
        height: 3.75vw;
        background-color: rgba(34, 34, 34, 1);
        transform: translateY(0.2vw);

        .logo {
          width: 3.125vw;
          height: 3.125vw;
          fill: rgba(255, 228, 20, 1);
          background-color: rgba(34, 34, 34, 1);
        }
      }
    }

    .rightBlock {
      display: flex;
      gap: 7.29vw;
      .footerNav {
        ul {
          display: flex;
          gap: 1.04vw;
          flex-direction: column;

          li {
            a {
              font-size: 1.04vw;
              font-style: normal;
              font-weight: 700;
              line-height: 1.4; /* 28px */
              letter-spacing: -0.4px;
              transition: color 300ms ease-in-out;
              color: #ffffff;
            }

            a:hover {
              color: rgba(181, 181, 181, 1);
            }
          }
        }
      }

      .contacts {
        display: flex;
        flex-direction: column;
        height: 16.46vw;

        .contactItem {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          column-gap: 0.63vw;

          span {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 1.67vw;
            height: 1.67vw;
            border-radius: 50%;
            background-image: linear-gradient(
              141deg,
              rgba(255, 255, 255, 0.12) 8.87%,
              rgba(41, 41, 41, 0.12) 93.36%
            );

            svg {
              width: 0.83vw;
              height: 0.83vw;
            }
          }

          p {
            font-family: 'Inter Tight';
            margin-bottom: 0.26vw;
            font-size: 0.83vw;
            font-style: normal;
            font-weight: 600;
            line-height: 1.2;

            color: rgba(181, 181, 181, 1);
          }

          .contactInfo {
            width: 100%;
            flex-grow: 1;

            a {
              position: relative;
              left: 2.29vw;
              font-size: 1.25vw;
              font-style: italic;
              font-weight: 800;
              line-height: 1.2;

              color: #ffffff;
            }
          }
        }

        .phone {
          margin-bottom: 1.67vw;
        }

        .socialsList {
          margin-top: auto;
          display: flex;
          gap: 0.83vw;

          li {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 5.21vw;
            height: 5.21vw;
            border-radius: 1.3vw;
            transition: border-color 300ms ease-in-out;
            border: 0.05vw solid #fff;
            background: linear-gradient(
              141deg,
              rgba(255, 255, 255, 0.12) 8.87%,
              rgba(41, 41, 41, 0.12) 93.36%
            );

            svg {
              width: 1.98vw;
              height: 1.98vw;
              transition: fill 300ms ease-in-out;
              fill: #f9f9f9;
            }
          }

          li:hover {
            border-color: rgba(255, 228, 20, 1);
            svg {
              fill: rgba(255, 228, 20, 1);
            }
          }
        }
      }
    }
  }

  .bottomBlock {
    padding-top: 6.25vw;
    position: relative;
    z-index: 99;

    svg {
      margin-bottom: 2.92vw;
    }
    .privacyCont {
      display: flex;
      justify-content: space-between;

      p {
        font-size: 0.83vw;
        font-style: normal;
        font-weight: 600;
        line-height: 1.2;

        color: rgba(181, 181, 181, 1);
      }

      a {
        font-size: 0.83vw;
        font-style: normal;
        font-weight: 600;
        line-height: 1.2;
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-skip-ink: auto;
        text-decoration-thickness: auto;
        text-underline-offset: auto;
        text-underline-position: from-font;
        color: rgba(181, 181, 181, 1);
      }

      .developers {
        display: flex;
        gap: 0.3vw;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .footer {
    padding: 8.53vw 8.53vw 11.2vw 8.53vw;
    border-top-left-radius: 8.53vw;
    border-top-right-radius: 8.53vw;

    .topBlock {
      flex-direction: column;

      .slogan {
        width: auto;
        margin-bottom: 5.87vw;
        font-size: 10vw;

        .logoContainer {
          height: 9.07vw;

          .logo {
            height: 6.93vw;
            width: 6.93vw;
            margin-left: 9.67vw;
          }
        }
      }

      .rightBlock {
        flex-direction: column;
        margin-bottom: 8.53vw;

        .footerNav {
          margin-bottom: 8.53vw;

          ul {
            gap: 4.27vw;
            li {
              a {
                font-size: 4.27vw;
              }
            }
          }
        }

        .contacts {
          height: auto;

          .contactItem {
            column-gap: 2.13vw;
            row-gap: 3.2vw;

            span {
              width: 6.4vw;
              height: 6.4vw;

              svg {
                width: 3.2vw;
                height: 3.2vw;
              }
            }

            p {
              height: 6.4vw;
              padding-top: 1vw;
              font-size: 3.2vw;
            }

            .contactInfo {
              width: 100%;

              a {
                left: 0;
                font-size: 4.27vw;
              }
            }
          }

          .phone {
            margin-bottom: 6.4vw;
          }

          .email {
            margin-bottom: 10.67vw;
          }

          .socialsList {
            gap: 2vw;
            li {
              width: 19.2vw;
              height: 19.2vw;
              border-radius: 4.8vw;

              svg {
                width: 7.47vw;
                height: 7.47vw;
              }
            }
          }
        }
      }
    }

    .bottomBlock {
      display: flex;
      flex-direction: column-reverse;

      svg {
        width: 82.93vw;
      }

      .privacyCont {
        flex-direction: column;
        gap: 5.33vw;
        margin-bottom: 8.53vw;

        p,
        a {
          font-size: 3.2vw;
        }
      }
    }
  }
}
