.section {
  padding: 10.41vw 0;
}

.sectionUnique {
  width: 100%;
  max-width: 91.66vw;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  background: var(--white);
  gap: 8.2vw;
  justify-content: center;
  margin-top: 6.25vw;
}

.sectionUniqueSide {
  width: 21.09vw;
  min-width: 16.67vw;
  height: 24.95vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 0;
  flex-shrink: 0;
}
.sideAvatarBlock {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 1.25vw;
}
.sideAvatarBg {
  width: 6.15vw;
  height: 6.15vw;
  border-radius: 100%;
  border: 0.1vw solid #d9d9d9;
  backdrop-filter: blur(0.42vw);
  background: linear-gradient(149deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.sideChatIcon {
  width: 2.08vw;
  height: 2.08vw;
  background: none;
  border-radius: 0;
  box-shadow: none;
  padding: 0;
  position: static;
  left: auto;
  top: auto;
  transform: none;
}
.sideAvatar {
  width: 6.15vw;
  height: 6.15vw;
  border-radius: 100%;
  object-fit: cover;
  margin-left: -2.08vw;
  z-index: 2;
  border: 0.1vw solid #d9d9d9;
  background: #fff;
}
.sideTitle {
  font-family: var(--third-family);
  font-style: italic;
  font-weight: 900;
  font-size: 2.92vw;
  line-height: 100%;
  text-transform: uppercase;
  color: var(--light-gray-2);
  margin-bottom: 0.42vw;
  color: #b5b5b5;
  span {
    color: var(--black);
  }
}
.sideDescription {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 0.84vw;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: #898787;
  margin: 0.83vw 0;
}
.sideButton {
  border: 0.05vw solid var(--black);
  border-radius: 0.83vw;
  padding: 1.25vw 2.08vw;
  width: 21.09vw;
  height: 3.54vw;
  font-weight: 800;
  font-size: 0.83vw;
  color: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  gap: 0.6vw;
  margin-top: 1.25vw;
  cursor: pointer;
  transition: box-shadow 0.2s;
}
.sideButton:hover {
  background: var(--black);
  color: var(--white);
}
.sidePhoneIcon {
  width: 1.25vw;
  height: 1.25vw;
}

.sectionUniqueContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}
.sectionUniqueTitle {
  font-family: var(--third-family);
  font-weight: 900;
  font-size: 4.17vw;
  line-height: 110%;
  text-transform: uppercase;
  text-align: center;
  width: 29.6vw;
  height: 12vw;
  span {
    display: block;
    color: var(--black);
    font-style: italic;
    margin-top: 0.417vw;
  }
}

.sectionUniqueBadge {
  color: var(--black-600);
  margin-bottom: 0.83vw;
  padding: 0.4vw 1.3vw;
  height: auto;
}

.sectionUniqueGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.4vw;
  width: 100%;
  max-width: 100%;
}
.sectionUniqueCard {
  align-items: flex-start;
  border-radius: 1.67vw;
  padding: 2.08vw;
  width: 100%;
  height: 23.02vw;
  background: var(--light-gray);
  backdrop-filter: blur(0.42vw);
  transition: box-shadow 0.2s;
  box-shadow: 0 0.1vw 0.42vw rgba(34, 34, 34, 0.04);
}
.cardIcon {
  width: 4.17vw;
  height: 4.17vw;
}
.cardTitle {
  margin-bottom: 2.08vw;
  font-family: var(--third-family);
  font-style: italic;
  font-weight: 900;
  font-size: 1.67vw;
  line-height: 100%;
  text-transform: uppercase;
  color: var(--black);
  margin-bottom: 0;
}
.cardDescription {
  font-family: var(--font-family);
  /* font-weight: 700; */
  font-size: 0.83vw;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: var(--black-600);
}

.sectionLabel {
  font-family: var(--third-family);
  font-weight: 700;
  font-size: 0.729vw;
  line-height: 140%;
  letter-spacing: 0.13em;
  text-transform: uppercase;
  text-align: center;
  color: var(--black);
}

.cardBlok {
  width: 14.948vw;
  height: 6.771vw;
  margin-top: 6.25vw;
  display: flex;
  flex-direction: column;
  gap: 1.67vw;
}

@media (max-width: 1024px) {
  .swiper {
    width: 91.6vw;

    padding-bottom: 1rem;
  }
  .sectionUniqueSide {
    border-radius: 6.4vw;
    padding: 7.67vw;
    width: 91.47vw;
    height: 93.07vw;
    background: var(--light-gray);
    display: flex;
    justify-content: space-between;
  }
  .sideDescription {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 3.73vw;
    line-height: 140%;
    letter-spacing: -0.02em;
    color: var(--black-600);
  }
  .sectionUniqueCard {
    border-radius: 6.4vw;
    padding: 7.47vw;
    height: 78.13vw;
    backdrop-filter: blur(2.13vw);
    background: var(--light-gray);
    margin-bottom: 2.13vw;
  }
  .cardBlok {
    width: 59.73vw;
    height: 32.27vw;
    display: flex;
    flex-direction: column;
    gap: 5.33vw;
    margin-top: 16vw;
  }
  .sectionUnique {
    width: 100%;
    max-width: 91.66vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: flex-start;
    background: var(--white);
    gap: 10.2vw;
    justify-content: center;
    margin-top: 6.25vw;
  }
  .sideAvatarBlock {
    width: 31.2vw;
    height: 17.07vw;
  }
  .sideAvatar {
    border-radius: 106.67vw;
    width: 17.07vw;
    height: 17.07vw;
    border-radius: 100%;
    object-fit: cover;
    margin-left: -2.08vw;
    z-index: 2;
    border: 0.1vw solid #d9d9d9;
    background: #fff;
  }
  .sideAvatarBg {
    border-radius: 100%;
    border: 0.1vw solid #d9d9d9;
    backdrop-filter: blur(0.42vw);
    background: linear-gradient(149deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    border-radius: 106.67vw;
    padding: 5.33vw;
    width: 17.07vw;
    height: 17.07vw;
  }
  .sideChatIcon {
    background: none;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
    position: static;
    left: auto;
    top: auto;
    transform: none;
    width: 4.53vw;
    height: 4.53vw;
  }
  .sideTitle {
    font-family: var(--second-family);
    font-style: italic;
    font-weight: 900;
    font-size: 6.4vw;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--light-garay-2);
    color: #b5b5b5;
    span {
      color: var(--black);
    }
  }
  .cardDescription {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 3.73vw;
    line-height: 140%;
    letter-spacing: -0.02em;
    color: var(--black);
    width: 59.73vw;
    height: 32.27vw;
  }
  .sideButton {
    border: 0.27vw solid var(--black);
    border-radius: 4.27vw;
    padding: 3.73vw 10.67vw;
    width: 70.13vw;
    height: 12.8vw;
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 3.73vw;
    line-height: 140%;
    letter-spacing: -0.02em;
    color: var(--black);
    gap: 2.67vw;
  }
  /* .sideButton:hover {
    background: #ff9900;
  } */
  /* .sidePhoneWrapper:hover {
    color: #ff9900;
  } */
  .sidePhoneIcon {
    width: 5.33vw;
    height: 5.33vw;
  }
  .cardIcon {
    width: 14.93vw;
    height: 14.93vw;
  }
  .cardTitle {
    font-family: var(--second-family);
    font-style: italic;
    font-weight: 900;
    font-size: 6.4vw;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--black);
  }
  .section {
    padding: 21vw 0;
  }
  .uniqueCard {
    width: 100%;
    display: flex;
  }
}

@media (min-width: 1024px) {
  .swiper,
  .slidePair {
    display: none;
  }
}
