.navContainer {
  /* width: 30vw;  */
  margin-bottom: 10vw;
  height: 3.75vw;
  border-radius: 0.833vw;
  padding: 0.417vw;
  background: var(--light-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.417vw;
}

.arrowBtn {
  width: 9.7vw;
  height: 2.917vw;
  border-radius: 0.833vw;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  transition: box-shadow 0.2s;
}
.arrowBtn:active,
.arrowBtn:focus {
}

.iconLeft {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    transform: rotate(180deg);
    width: 1.042vw;
    height: 0.833vw;
  }
}
.iconRight {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 1.042vw;
    height: 0.833vw;
  }
}

.arrowBtn svg {
  width: 1.042vw;
  height: 0.833vw;
  stroke: var(--black);
  stroke-width: 0.104vw;
}

.sliderWindow {
  width: 100%;
  max-width: 100vw;
  margin: 0 auto 10.67vw auto;
  overflow: visible;
}

.swiperCustom {
  width: 100%;
  height: 100%;
  padding-bottom: 2vw;
}

.serviceCard {
  padding: 2.08vw;
  border-radius: 1.66vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  box-sizing: border-box;
  text-align: left;
  background: #fff;
  height: 100%;
}

.heroServices {
  width: 100%;
}

.serviceIconWrapper {
  width: 100%;
  height: 14.58vw;
  margin-bottom: 2.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 1.66vw;
  background: #181818;
  box-sizing: border-box;
  padding: 0;
  background-image: url('/images/bg_services.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.serviceTitle {
  font-family: var(--third-family, 'Arial Black', Arial, sans-serif);
  font-style: italic;
  font-weight: 900;
  font-size: 2.9vw;
  line-height: 100%;
  text-transform: uppercase;
  color: var(--black, #181818);
  margin-bottom: 1.66vw;
}

.serviceDescription {
  font-family: var(--font-family, Arial, sans-serif);
  font-weight: 700;
  font-size: 0.83vw;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: var(--gray, #888);
  margin-bottom: 0;
}

.sliderNavWrapper {
  display: flex;
  padding: 0.41vw;
  align-items: center;
  justify-content: center;
  width: max-content;
  gap: 1.66vw;
  align-self: stretch;
  border-radius: 0.83vw;
  background: #fff;
  margin: 0 auto;
}

.arrowContainer .arrowBtn {
  width: 8.5vw;
  height: 2.9vw;
  border-radius: 0.83vw;
  background: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dotsBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
}

.sliderDotsRow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.83vw;
  position: relative;
  z-index: 2;
}

.centerLine {
  width: 100%;
  height: 0.4vw;
  border-radius: 0.2vw;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 1;
  opacity: 0.18;
}

.sliderActiveDot {
  width: 1.875vw;
  height: 0.31vw;
  border-radius: 44.27vw;
  background: #222;
  display: inline-block;
}

.sliderDot {
  width: 0.31vw;
  height: 0.31vw;
  z-index: 1;
  background: #e4e4e4;
  border-radius: 50%;
  margin: 0 !important;
}

@media (max-width: 1024px) {
  .sliderDot {
    width: 1.6vw;
    height: 1.6vw;
    z-index: 1;
    background: #e4e4e4;
    border-radius: 50%;
    margin: 0 !important;
  }
  .navContainer {
    display: flex;
    padding: 0.41vw;
    align-items: center;
    justify-content: center;
    width: max-content;
    gap: 6.4vw;
    align-self: stretch;
    border-radius: 0.83vw;
    background: var(--light-gray);
    margin: 0 auto;
    width: 91.467vw;
    height: 14.4vw;
    padding: 2.13vw;
  }
  .sliderDotsRow {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4.3vw;
    position: static;
  }
  .sliderActiveDot {
    width: 9.6vw;
    height: 1.61vw;
    border-radius: 44.267vw;
    background: #222;
    display: inline-block;
  }
  .arrowBtn {
    width: 23vw;
    height: 10.5vw;

    border-radius: 3.2vw;
    fill: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    transition: box-shadow 0.2s;
  }
  .iconLeft {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(180deg);
    border-radius: 1.07vw;
    stroke-width: 0.53vw;
    stroke: var(--black-600);

    img {
      transform: rotate(180deg);
      width: 5.6vw;
      height: 4.27vw;
    }
  }

  .iconRight {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 5.6vw;
      height: 4.27vw;
    }
  }
  .arrowBtn svg {
    width: 1.042vw;
    height: 0.833vw;
    stroke: var(--black);
    stroke-width: 0.104vw;
  }
}
