.item {
  display: flex;
  gap: 0.42vw;

  .clientInfo {
    width: 41.67vw;
    padding: 1.67vw;
    border-radius: 1.67vw;
    background-color: rgba(249, 249, 249, 1);

    .caseTitle {
      margin-bottom: 2.92vw;
      font-size: 1.67vw;
      font-style: normal;
      font-weight: 900;
      line-height: 1;
      text-transform: uppercase;

      color: rgba(46, 46, 46, 1);
    }

    .infoList {
      display: flex;
      gap: 0.42vw;
      margin-bottom: 0.42vw;

      li {
        width: 12.5vw;
        padding: 1.25vw;
        border-radius: 1.67vw;
        background-color: #ffffff;

        .topBlock {
          display: flex;
          gap: 0.63vw;
          align-items: center;
          margin-bottom: 0.83vw;

          span {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 1.25vw;
            height: 1.25vw;
            border-radius: 50%;
            background-color: rgba(34, 34, 34, 1);

            svg {
              width: 0.63vw;
              height: 0.63vw;
            }
          }

          p {
            font-size: 0.83vw;
            font-style: normal;
            font-weight: 800;
            line-height: 1.2;
            color: rgba(34, 34, 34, 1);
          }
        }

        p {
          font-size: 0.83vw;
          font-style: normal;
          font-weight: 700;
          line-height: 1.4;
          letter-spacing: -0.32px;

          color: rgba(34, 34, 34, 0.6);
        }
      }
    }

    .doneWork {
      padding: 1.25vw;
      border-radius: 1.67vw;
      background-color: rgba(34, 34, 34, 1);

      .topBlock {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.04vw;

        .blockTitle {
          display: flex;
          align-items: center;
          gap: 0.31vw;
          padding: 0.52vw 0.63vw;
          background-color: rgba(45, 45, 45, 1);
          border-radius: 0.63vw;

          svg {
            width: 1.25vw;
            height: 1.25vw;
          }

          p {
            font-size: 0.94vw;
            font-style: normal;
            font-weight: 800;
            line-height: 1;
            letter-spacing: -0.36px;
            color: #ffffff;
          }
        }

        .duration {
          display: flex;
          align-items: center;
          gap: 0.42vw;

          svg {
            width: 1.04vw;
            height: 1.04vw;
          }

          p {
            text-align: center;
            font-size: 0.73vw;
            font-style: normal;
            font-weight: 700;
            line-height: 1.2;
            letter-spacing: -0.28px;
            color: rgba(165, 165, 165, 1);
          }
        }
      }

      .doneWorkList {
        display: flex;
        flex-direction: column;
        padding-left: 1.25vw;
        margin-bottom: 1.25vw;
        list-style-image: linear-gradient(90deg, #ffffff 0%, #ffffff 100%);
        list-style: disc;
        background-color: rgba(34, 34, 34, 1);

        li {
          font-size: 0.83vw;
          font-style: normal;
          font-weight: 700;
          line-height: 1.4;
          letter-spacing: -0.32px;

          color: #ffffff;
        }

        li:marker {
          color: #ffffff;
        }
      }

      button {
        width: 100%;
        padding: 1.25vw 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.63vw;
        border-radius: 0.83vw;
        background: var(--Gradient-yellow, linear-gradient(94deg, #ffe414 0.19%, #ffae00 100.19%));

        font-size: 0.83vw;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        color: rgb(34, 34, 34);

        svg {
          width: 1.04vw;
          height: 1.04vw;
        }
      }
    }
  }

  .results {
    width: 28.28vw;
    border-radius: 1.67vw;
    background: var(--Gradient-yellow, linear-gradient(94deg, #ffe414 0.19%, #ffae00 100.19%));
    overflow: hidden;
  }
}
