.item {
  display: flex;
  gap: 0.42vw;
  height: 100%;

  .clientInfo {
    width: 41.67vw;
    padding: 1.67vw;
    border-radius: 1.67vw;
    background-color: rgba(249, 249, 249, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .caseTitle {
      margin-bottom: 2.92vw;
      font-size: 1.67vw;
      font-style: normal;
      font-weight: 900;
      line-height: 1;
      text-transform: uppercase;

      color: rgba(46, 46, 46, 1);
    }

    .infoList {
      display: flex;
      gap: 0.42vw;
      margin-bottom: 0.42vw;

      li {
        width: 12.5vw;
        padding: 1.25vw;
        border-radius: 1.67vw;
        background-color: #ffffff;

        .topBlock {
          display: flex;
          gap: 0.63vw;
          align-items: center;
          margin-bottom: 0.83vw;

          span {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 1.25vw;
            height: 1.25vw;
            border-radius: 50%;
            background-color: rgba(34, 34, 34, 1);

            svg {
              width: 0.63vw;
              height: 0.63vw;
            }
          }

          p {
            font-size: 0.83vw;
            font-style: normal;
            font-weight: 800;
            line-height: 1.2;
            color: rgba(34, 34, 34, 1);
          }

          .websiteLink {
            margin-left: auto;
            width: max-content;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.21vw;
            padding: 0.31vw 0.42vw;
            border-radius: 10.42vw;
            background-color: rgba(249, 249, 249, 1);

            font-size: 0.52vw;
            font-style: normal;
            font-weight: 700;
            line-height: 1.4;
            letter-spacing: -0.2px;
            text-decoration: underline;
            color: rgba(181, 181, 181, 1);

            svg {
              width: 0.63vw;
              height: 0.63vw;
            }
          }
        }

        p {
          font-size: 0.83vw;
          font-style: normal;
          font-weight: 700;
          line-height: 1.4;
          letter-spacing: -0.32px;

          color: rgba(34, 34, 34, 0.6);
        }
      }
    }

    .doneWork {
      padding: 1.25vw;
      border-radius: 1.67vw;
      background-color: rgba(34, 34, 34, 1);

      .topBlock {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.04vw;

        .blockTitle {
          display: flex;
          align-items: center;
          gap: 0.31vw;
          padding: 0.52vw 0.63vw;
          background-color: rgba(45, 45, 45, 1);
          border-radius: 0.63vw;

          svg {
            width: 1.25vw;
            height: 1.25vw;
          }

          p {
            font-size: 0.94vw;
            font-style: normal;
            font-weight: 800;
            line-height: 1;
            letter-spacing: -0.36px;
            color: #ffffff;
          }
        }

        .duration {
          display: flex;
          align-items: center;
          gap: 0.42vw;

          svg {
            width: 1.04vw;
            height: 1.04vw;
          }

          p {
            text-align: center;
            font-size: 0.73vw;
            font-style: normal;
            font-weight: 700;
            line-height: 1.2;
            letter-spacing: -0.28px;
            color: rgba(165, 165, 165, 1);
          }
        }
      }

      .doneWorkList {
        display: flex;
        flex-direction: column;
        padding-left: 1.25vw;
        margin-bottom: 1.25vw;
        list-style-image: linear-gradient(90deg, #ffffff 0%, #ffffff 100%);
        list-style: disc;
        background-color: rgba(34, 34, 34, 1);

        li {
          font-size: 0.83vw;
          font-style: normal;
          font-weight: 700;
          line-height: 1.4;
          letter-spacing: -0.32px;

          color: #ffffff;
        }
      }

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
        width: 100%;
        padding: 1.25vw 0;
        border-radius: 0.83vw;
        background-color: #fff;

        span {
          transition: all 300ms ease-in-out;
          position: relative;
          z-index: 2;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 0.63vw;

          font-size: 0.83vw;
          font-style: normal;
          font-weight: 800;
          line-height: normal;
          color: rgb(34, 34, 34);

          svg {
            transition: all 300ms ease-in-out;
            width: 1.04vw;
            height: 1.04vw;
            fill: #222222;
          }
        }
      }

      a::after {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(94deg, #ffe414 0.19%, #ffae00 100.19%);
        transition: opacity 300ms ease-in-out;
        opacity: 1;
        z-index: 1;
      }

      a:hover::after {
        opacity: 0;
      }
    }
  }

  .results {
    width: 28.28vw;
    border-radius: 1.67vw;
    background: var(--Gradient-yellow, linear-gradient(94deg, #ffe414 0.19%, #ffae00 100.19%));
    overflow: hidden;
  }
}

@media screen and (max-width: 1024px) {
  .item {
    position: relative;
    transition: height 300ms ease-in-out;
    height: 131.73vw;
    margin-bottom: 3.73vw;
    flex-direction: column-reverse;
    justify-content: flex-end;
    overflow: hidden;

    .clientInfo {
      padding: 0;
      width: 100%;
      background-color: transparent;

      .clientInfoMobContainer {
        height: max-content;
        margin-bottom: 2.13vw;
        padding: 7.47vw;
        border-radius: 8.53vw;
        background-color: rgba(249, 249, 249, 1);

        .caseTitle {
          margin-bottom: 6.4vw;
          font-size: 6.4vw;
        }

        .infoList {
          flex-direction: column;
          gap: 4.27vw;

          li {
            width: auto;
            background-color: transparent;

            .topBlock {
              margin-bottom: 2.13vw;
              gap: 1.6vw;
              align-items: baseline;

              span {
                width: 5.33vw;
                height: 5.33vw;

                svg {
                  width: 2.67vw;
                  height: 2.67vw;
                }
              }

              p {
                font-size: 3.73vw;
              }

              .websiteLink {
                gap: 1.07vw;
                width: 21.6vw;
                height: 5.87vw;
                background-color: rgba(255, 255, 255, 1);

                a {
                  font-size: 2.67vw;
                }
              }
            }

            p {
              font-size: 3.73vw;
            }
          }
        }
      }

      .doneWork {
        padding: 5.33vw;
        border-radius: 8.53vw;

        .topBlock {
          flex-direction: column;
          gap: 4.27vw;
          margin-bottom: 5.33vw;

          .blockTitle {
            width: max-content;
            padding: 2.67vw 3.2vw;
            border-radius: 3.2vw;
            gap: 2.13vw;

            svg {
              width: 5.33vw;
              height: 5.33vw;
            }

            p {
              font-size: 3.73vw;
            }
          }
          .duration {
            padding-left: 2.13vw;
            gap: 2.13vw;

            svg {
              width: 4.27vw;
              height: 4.27vw;
            }

            p {
              font-size: 3.2vw;
            }
          }
        }

        .doneWorkList {
          margin-bottom: 6.4vw;
          padding-left: 5vw;
          li {
            font-size: 3.73vw;
          }
        }

        a {
          height: 13.87vw;
          border-radius: 4.27vw;

          span {
            gap: 3.2vw;
            font-size: 3.73vw;

            svg {
              width: 5.33vw;
              height: 5.33vw;
            }
          }
        }
      }
    }

    .results {
      flex-shrink: 0;
      width: 100%;
      border-radius: 5.33vw;
    }

    .bgCont {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 10;
      width: 100%;
      height: 35vw;
      background: linear-gradient(0deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
    }
  }

  .item.expanded {
    height: auto;

    .bgCont {
      background: none;
    }
  }
}
