.similarArticlesCont {
  padding-top: 10.42vw;
  padding-bottom: 10.42vw;

  .topBlock {
    margin-bottom: 4.17vw;
    h2 {
      text-align: center;

      font-size: 4.17vw;

      font-style: italic;
      font-weight: 900;
      line-height: 1.1;
      text-transform: uppercase;
      color: rgba(34, 34, 34, 1);

      span {
        font-style: normal;
        color: rgba(181, 181, 181, 1);
      }
    }
  }

  .articlesList {
    display: flex;
    gap: 0.83vw;
  }
}

@media screen and (max-width: 1024px) {
  .similarArticlesCont {
    padding-top: 21.33vw;
    padding-bottom: 21.33vw;

    .topBlock {
      margin-bottom: 8.53vw;
      h2 {
        font-size: 8.53vw;
      }
    }

    .swiper {
      display: flex;
      margin-bottom: 8.53vw;

      div {
        display: flex;
      }
    }

    .controlsCont {
      width: 100%;
      padding: 2.13vw 5.33vw;
      border-radius: 4.27vw;
      background-color: rgba(249, 249, 249, 1);

      .controls {
        width: 100%;
        padding: 0.42vw;
        display: flex;
        justify-content: space-between;
        gap: 1.67vw;
        align-items: center;
        background-color: rgba(249, 249, 249, 1);
        border-radius: 0.83vw;

        .pagination {
          width: max-content;
          display: flex;
          justify-content: center;
          gap: 4.27vw;

          .paginationBullet {
            width: 1.6vw;
            height: 1.6vw;
            border-radius: 1.88vw;
            background-color: rgba(228, 228, 228, 1);
          }

          .paginationBulletActive {
            width: 9.6vw;
            background-color: #000000;
          }
        }

        .navigationBtn {
          display: flex;
          justify-content: center;
          align-items: center;

          transition: all 300ms ease-in-out;
          background-color: #ffffff;
          width: 23.33vw;
          height: 14.93vw;
          border-radius: 4.27vw;

          svg {
            fill: rgba(34, 34, 34, 1);
          }
        }

        .navigationBtn:hover {
          background-color: rgba(34, 34, 34, 1);

          svg {
            fill: #ffffff;
          }
        }

        .navigationPrev {
        }

        .navigationNext {
          transform: rotateZ(180deg);
        }

        .disabled {
          .navArrow {
            fill-opacity: 0.6;
          }
        }

        .disabled:hover {
          background-color: #ffffff;

          .navArrow {
            fill: rgba(34, 34, 34, 1);
            fill-opacity: 0.6;
          }
        }
      }
    }

    .articlesList {
      flex-direction: column;
    }
  }
}
