.tabSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  margin: 0 auto;
  margin-bottom: 2vw;
  padding: 0.41vw 1.25vw;
  justify-content: center;
  align-items: center;
  gap: 0.52vw;
  border-radius: 2.08333rem;
}

.tabSection span {
  text-align: center;
  font-family: 'Inter Tight';
  font-size: 0.7vw;
  font-style: normal;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0.09vw;
  text-transform: uppercase;
}

/* Shiny Text анімація */
.shinyText {
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}

.shinyText::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.8), transparent);
  transition: left 0.5s ease;
}

.shinyActive::before {
  left: 100%;
}

.tabSection.gray {
  color: #222;
  background: #f9f9f9;
}
.tabSection.dark {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}
.tabSection.dark .shinyText::before {
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.1), transparent);
}

.tabSection.white {
  color: #222;
  background-color: #fff;
}

@media screen and (max-width: 1024px) {
  .tabSection {
    margin-bottom: 5.4vw;
    padding: 2.13vw 6.4vw;

    span {
      font-size: 3.2vw;
      letter-spacing: 0.42vw;
    }
  }
}
